<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <img src="assets/images/123.png" class="app-logo d-inline-block align-top" alt="logo">
  <a class="navbar-brand" href="#">
    Energy System Management
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-primary nav-link" [class.active-link]="activeLink === 'users'"
                (click)="onTableUsers()">
          Users
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary nav-link" [class.active-link]="activeLink === 'devices'"
                (click)="onTableDevices()">Devices
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary nav-link" [class.active-link]="activeLink === 'chat'"
                (click)="onChatComponent()">Chat
        </button>
      </li>
    </ul>
  </div>
  <button class="btn btn-primary nav-link me-2" (click)="logOut()"> Log Out</button>
</nav>


